@using NMShop.Client.Services;
@inject NavigationManager Navigation;
@inject CartService CartService


<MudText Typo="Typo.h5">Корзина</MudText>
@foreach (var item in CartService.Items)
{
    <div class="d-flex py-3" style="border-bottom: 1px solid #000000;">
        <img src="@item.Product.Images.GetMainImageSrc()" style="aspect-ratio: 1 / 0.8; width: 150px; object-position: center; object-fit: cover;" />
        <div class="cartUnit pl-2">
            <MudText Typo="Typo.h6">@item.Product.Name</MudText>
            <MudText Typo="Typo.h6" Style="color: #BDBDBD;">@(item.Product.SizeDisplayType == "string" ? (ClothingSize)(int)item.PriceInfo.Size : item.PriceInfo.Size)</MudText>
            <MudText Typo="Typo.h6">@item.SubTotal.ToPreFormatedString() ₽</MudText>
            <div class="d-flex align-center" style="gap: 5px;">
                <MudIconButton OnClick="() => CartService.UpdateQuantity(item.Product, item.PriceInfo, item.Quantity - 1)" Icon="@Icons.Material.Filled.Remove" />
                <MudText Typo="Typo.h5">@item.Quantity</MudText>
                <MudIconButton OnClick="() => CartService.UpdateQuantity(item.Product, item.PriceInfo, item.Quantity + 1)" Icon="@Icons.Material.Filled.Add" />
            </div>
            <MudIconButton OnClick="() => CartService.RemoveProduct(item.Product, item.PriceInfo)" Icon="@Icons.Material.Filled.DeleteOutline" />
        </div>
    </div>
}