@using NMShop.Client.Components;

<div class="pa-2 pa-md-4 pa-lg-6" style="background-color: black; color: white;">
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudGrid Class="footer px-5 py-4 mt-4 mt-md-0" Spacing="6">
            @foreach (var sec in Sections)
            {
                <MudItem xs="12" sm="3">
                    <h4 style="margin-bottom: 10px; font-weight: bold;">@sec.Title</h4>
                    <ul style="list-style: none; padding: 0;">
                        @foreach (var link in sec.Links)
                        {
                            <li style="margin-bottom: 8px;">
                                @if (string.IsNullOrWhiteSpace(link.Url))
                                {
                                    @link.Text
                                }
                                else
                                {
                                    <a href="@link.Url" style="color: white; text-decoration: none;">@link.Text</a>
                                }
                            </li>
                        }
                    </ul>
                </MudItem>
            }

            <!-- Социальные иконки -->
            <MudItem xs="12" sm="3">
                <SocialIcons />
            </MudItem>

            <!-- Копирайт -->
            <MudItem xs="12" sm="3">
                <div style="margin-top: 30px; padding-top: 10px;">
                    <p style="font-size: 16px; font-weight: 600;">2018-2024 © Neo Mei</p>
                </div>
            </MudItem>

            <MudItem xs="12" sm="3">
                <div style="margin-top: 30px; padding-top: 10px;">
                    <p style="margin-right: 310px; font-size: 16px; font-weight: 600;">ВСЕ ПРАВА ЗАЩИЩЕНЫ</p>
                </div>
            </MudItem>

            <!-- Политики и соглашения -->
            <MudItem xs="12" sm="3">
                <div>
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        @foreach (var policy in Policies)
                        {
                            <li style="margin-bottom: 8px;">
                                <a href="@policy.Url" style="color: white; text-decoration: none;">@policy.Text</a>
                            </li>
                        }
                    </ul>
                </div>
            </MudItem>
        </MudGrid>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        @foreach (var sec in Sections)
        {
            <MudButton OnClick="() => ToggleSection(sec)" Class="" Style="width: 100%; display: block; text-transform: none;">
                <div class="d-flex mr-auto my-2">
                    <MudText Class="align-self-center pt-1" Color="Color.Secondary" Typo="Typo.h5">@sec.Title</MudText>

                    <div class="ml-auto" style=@("transition: all 0.5s ease-in-out; width: 40px; aspect-ratio: 1/1; color:white; background-image: url(assets/icons/ArrowIconWhite.svg); background-position: center; background-repeat: no-repeat;" + (OpenedSections.Contains(sec) ? "" : "transform: rotate(-90deg);")) />
                </div>

                <div style=@("border-bottom: 1px solid white; display: grid; transition: 0.5s grid-template-rows ease-in-out; " + (OpenedSections.Contains(sec) ? "grid-template-rows: 1fr;" : "grid-template-rows: 0fr;"))>
                    <div class="pa-1" style="text-align:left; font-style: normal; opacity: 0.9; overflow: hidden;">
                        <ul style="list-style: none; padding: 0;">
                            @foreach (var link in sec.Links)
                            {
                                <li style="margin-bottom: 8px;">
                                    <a href="@link.Url" style="color: white; text-decoration: none;">@link.Text</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </MudButton>
            
        }

        <div class="my-4 mx-auto" style="width: fit-content;font-size: var(--mud-typography-h6-size);">
            2018-2024 © Neo Mei
        </div>

        <SocialIcons/>
    </MudHidden>

</div>


@code {
    private HashSet<Section> OpenedSections = new();

    private void ToggleSection(Section sec)
    {
        if (OpenedSections.Contains(sec))
        {
            OpenedSections.Remove(sec);
        }
        else
        {
            OpenedSections.Add(sec);
        }
    }

    private List<Section> Sections = new List<Section>
    {
        new Section
        {
            Title = "РАЗДЕЛЫ",
            Links = new List<Link>
            {
                new Link { Url = "#", Text = "SALE" },
                new Link { Url = "#", Text = "ОБУВЬ" },
                new Link { Url = "#", Text = "ОДЕЖДА" },
                new Link { Url = "#", Text = "АКСЕССУАРЫ" }
            }
        },
        new Section
        {
            Title = "ИНФОРМАЦИЯ",
            Links = new List<Link>
            {
                new Link { Url = "#", Text = "КОНТАКТЫ" },
                new Link { Url = "#", Text = "ДОСТАВКА" },
                new Link { Url = "#", Text = "ОПЛАТА" },
                new Link { Url = "#", Text = "FAQ" },
                new Link { Url = "#", Text = "О НАС" }
            }
        },
        new Section
        {
            Title = "КОНТАКТЫ",
            Links = new List<Link>
            {
                new Link { Url = "", Text = "8 (800) 535-35-35" },
                new Link { Url = "", Text = "SUPPORT@discord.ru" }
            }
        }
    };

    private List<Link> Policies = new List<Link>
    {
        new Link { Url = "/PrivacyPolicy", Text = "ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ" },
        new Link { Url = "#", Text = "ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ" },
        new Link { Url = "#", Text = "ДОГОВОР ОФЕРТЫ" }
    };

    public class Section
    {
        public string Title { get; set; }
        public List<Link> Links { get; set; }
    }

    public class Link
    {
        public string Url { get; set; }
        public string Text { get; set; }
    }

    public class ContactInfo
    {
        public string Phone { get; set; }
        public string WorkingHours { get; set; }
        public string Email { get; set; }
    }
}
