@using NMShop.Client.Services;

@inject NavigationManager Navigation
@inject CartService CartService
@inject SearchService SearchService
@inject ClientDataProvider DataProvider

<MudAppBar Elevation="0" Style=@($"z-index: {(int)ZEnum.AppBar}") >

    <MudHidden Breakpoint="Breakpoint.LgAndUp">
        <MudImage @onclick="NavigateMain" Src="/assets/icons/logo.svg" ObjectPosition="ObjectPosition.Center" Width="35" Height="35" />
        
        <MudSpacer/>

        <div style="color: var(--mud-palette-text-primary);">
            <MudIconButton OnClick="SearchService.ToggleSearch" Icon="@Icons.Material.Filled.Search" Color="Color.Inherit" />
            <MudIconButton OnClick="CartService.ToggleCart" Icon="@Icons.Material.Outlined.ShoppingCart" Color="Color.Inherit" />
            <MudIconButton Icon="@Icons.Material.Filled.MenuOpen" Color="Color.Inherit" />
        </div>

    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <div class="px-3 py-15" style="display: grid; grid-template-columns: 1fr auto 1fr; align-items: center; width: 100%;">
            <!-- Логотип слева -->
            <div class="d-flex" style="justify-self: start;">
                <MudImage @onclick="NavigateMain" Src="/assets/icons/logo.svg" ObjectPosition="ObjectPosition.Center" Width="45" Height="45" />
            </div>

            <!-- Навигационные кнопки по центру -->
            <div style="display: flex; justify-content: center; gap: 20px;">
                @foreach (var nu in _navUnits)
                {
                    <MudButton Href="@nu.Category.Link" Style="font-size: var(--mud-typography-body1-size); font-weight: 600;" @onmouseover="() => ShowMenu(nu)">@nu.Category.Name</MudButton>
                }
            </div>

            <!-- Иконки справа -->
            <div style="justify-self: end; display: flex; gap: 10px; color: var(--mud-palette-text-primary);">
                <MudIconButton OnClick="SearchService.ToggleSearch" Icon="@Icons.Material.Filled.Search" Size="Size.Large" Color="Color.Inherit" />
                <MudIconButton OnClick="CartService.ToggleCart" Icon="@Icons.Material.Outlined.ShoppingCart" Size="Size.Large" Color="Color.Inherit" />
            </div>
        </div>

        <!-- Выпадающее меню -->
        @if (!_menuHidden)
        {
            <MudPaper Class="d-flex justify-center absolute"
                      Style=@($"top: 100%; left: 0; right: 0; background-color: #F8F8F8; width: 100%; padding: 20px;")
                      Elevation="1"
                      @onmouseleave="HideMenu">
                <div class="resize-width" style="display: grid; grid-template-columns: repeat(@_menuSubCategoriesBatchAmount, 1fr); gap: 20px; text-align: center;">


                    <!-- Первый столбец с названием категории -->
                    <div style="font-size: 24px; font-weight: 700; text-align: left;">
                        @_currentCategory.Category.Name
                    </div>

                    <!-- Столбцы с подкатегориями -->
                    @for (int i = 0; i < _menuSubCategoriesBatchAmount; i++)
                    {
                        var LocalCopy = i;
                        int SubCategoriesCount = _currentCategory.Items.Count();

                        <div style="color: #BDBDBD; font-size: 15px; font-weight: 700; text-align: left;">
                            @if (SubCategoriesCount - LocalCopy * _menuSubCategoriesBatchCount > 0)
                            {
                                foreach (var ni in _currentCategory.Items.Skip(LocalCopy * _menuSubCategoriesBatchCount).Take(_menuSubCategoriesBatchCount))
                                {
                                    <MudButton Href="@ni.Link" Style="display: block; margin: 5px 0;">@ni.Name</MudButton>
                                }
                            }
                        </div>
                    }
                </div>
            </MudPaper>
        }
    </MudHidden>

</MudAppBar>

@code {
    private NavigationUnit _currentCategory;
    private IEnumerable<NavigationUnit> _navUnits = new NavigationUnit[0];
    private bool _menuHidden = true;
    private static int _menuSubCategoriesBatchCount = 4;
    private static int _menuSubCategoriesBatchAmount = 5;

    protected override async Task OnInitializedAsync()
    {
        _navUnits = await DataProvider.GetNavigationUnitsAsync();
    }

    private void NavigateMain()
    {
        Navigation.NavigateTo("/");
    }

    private void ShowMenu(NavigationUnit nu)
    {
        if (nu.Items.Count() > 0)
        {
            _currentCategory = nu;
            _menuHidden = false;
        }
    }

    private void HideMenu()
    {
        _menuHidden = true;
    }

}
